name: Cron

on:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    name: Check for new issues
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: ^1.22

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Run croncheck
      env:
        NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
      run: go run ./croncheck

    - name: The job has failed
      if: ${{ failure() }}
      run: |
        curl -X POST -H 'Content-type: application/json' --data '{"text":"<!subteam^S04S96AAVND|acs-scanner-primary> .NET Scraper has failed. Please see https://github.com/stackrox/dotnet-scraper to resolve"}' ${{ secrets.SLACK_WEBHOOK }}
