name: PR

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.22

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Test
      run: go test -v ./...

    - name: Run croncheck
      run: go run ./croncheck
